__pycache__/
*.py[cod]
*$py.class

# Environment variables & secrets
.env

# SQLite Databases
*.db
*.sqlite
*.sqlite3

# Telethon session credentials
*.session
*.session-journal

# Logs & Virtual Environments
*.log
venv/
.venv/
